html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family: 'Philosopher', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1476134129/ppetbqlvzr3ussgu9d1v.jpg");
	background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

textarea{
	font-family: 'Philosopher', sans-serif;
	padding: 8px;
}

label{
	color: white;
}

/*Basic layout and splash*/

#splash{
	position: absolute;
	background-color: black;
	color: white;
	z-index: 3;
	font-size: 48px;
	display: flex;
	height: 100%;
	width: 100%;
	opacity: .9;
	justify-content: center;
	align-items: center;
}

.content {
  display: flex;
}

/*Interface*/

.interface{
	padding: 20px;
	text-align: center;
}

#notecontainer{
	padding-top: 5px;
	padding-bottom: 5px;
}

#allnotescontainer{
	padding-top: 5px;
	padding-bottom: 5px;
}

#modecontainer{
	padding-top: 5px;
}

.buttoncontainer{
	padding: 0 0 10px 0;
}

#default{
	text-decoration: underline;
}

.options{
	color: white;
}

/*Canvas and notes*/

#canvascontainer {
  position: relative;
  width: 1000px;
  height: 600px;
}

#canvas{
  position: absolute;
}

.note {
	font-size: 12px;
  position: absolute;
	border-radius: 5px;
	border: 1px solid blue;
	min-height: 8px;
	min-width: 8px;
	background-image: url("https://res.cloudinary.com/dujcpxlhk/image/upload/v1474676318/rwecnun1ciuve1icofas.jpg");
	max-width: 200px;
	word-wrap: break-word;
	overflow: hidden;
}

.partname{
	padding: 5px;
	display: none;
}

.message{
	padding: 5px;
	display: none;
}

.biggen{
	display: block;
}

.showAll{
	display: block;
}

/*Bottom*/

a img{
  width: 30px;
  height: 30px;
  padding: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#emolex {
	padding-left: 5px;
}
